<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tickets</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">


<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c634b3cef4.js"
	crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.0/js/dataTables.min.js"
	type="text/javascript"></script>
<script
	src="https://cdn.datatables.net/2.1.0/js/dataTables.bootstrap5.js"
	type="text/javascript"></script>
<link
	href="https://cdn.datatables.net/2.1.0/css/dataTables.bootstrap5.css"
	rel="stylesheet">
<!-- <script type="text/javascript" th:src="@{/js/billSummary.js}"></script> -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
	
<link th:href="@{/css/standard.css}" rel="stylesheet" />	
<script type="text/javascript" th:src="@{/js/billSummary.js}"></script>
<script type="text/javascript" th:src="@{/js/validations.js}"></script>
<style>
#billSummary {
	width: 100%;
	max-height: 62vh;
	display: block;
	overflow-y: auto;
	overflow-x: none;
}

td small {
	font-size: 10px
}
</style>

</head>

<body>
	<div th:replace="fragments/navbar::navbar"></div>
	<div class="container-fluid">
		<!--<form   action="#" enctype="application/x-www-form-urlencoded">-->
		<form th:action="@{/bill/print}" id="form" method="POST"
			enctype="application/x-www-form-urlencoded">
			<div class="row">
				<div class="col-8 ">
					<div class="box">
						<div class="form-container">
							<h5>
								Choose Seperate Tickets & Combos <small>(click to
									select)</small>
							</h5>



							<div class="btn-group" role="group"
								aria-label="Basic checkbox toggle button group">

								<th:block th:each="ticket,index : ${tickets}">
									<input type="checkbox" name="tickets" th:value="${ticket.id}"
										class="btn-check" th:id="${'ticket'+index}" autocomplete="off">
									<label class="btn btn-outline-primary"
										th:for="${'ticket'+index}" th:text="${ticket.name}">NA</label>
								</th:block>

								<!-- <input type="checkbox" name="tickets" value="0"
									class="btn-check" id="ticketsNone" autocomplete="off"
									checked> <label class="btn btn-outline-primary"
									for="ticketsNone">None</label> -->
							</div>
						</div>

						<div class="form-container">
							<h5>Select From Groups</h5>
							<div class="btn-group" role="group"
								aria-label="Basic checkbox toggle button group">

								<th:block th:each="group,index : ${groups}">
									<input type="radio" name="group" th:value="${group.id}"
										class="btn-check" th:id="${'group'+index}" autocomplete="off">
									<label class="btn btn-outline-primary"
										th:for="${'group'+index}" th:text="${group.name}">NA</label>
								</th:block>
								<input type="radio" name="group" th:value="${generalVistor.id}"
									class="btn-check" id="generalVistor" autocomplete="off" checked>
								<label class="btn btn-outline-primary" for="generalVistor"
									th:text="${generalVistor.name}"></label>
							</div>
						</div>

						<div class="form-container">
							<h5>Select Persons</h5>
							<div class="d-flex align-items-center counter">
								<button class="btn btn-outline-danger count minus" type="button">
									<i class="fa-solid fa-angles-down"></i>
								</button>
								<input class="input-count" name="persons" value="0"
									type="number">
								<button class="btn btn-outline-success count plus" type="button">
									<i class="fa-solid fa-angles-up"></i>
								</button>

							</div>
						</div>
						<div class="form-container">
							<h5>Choose By Family Groups</h5>
							<div class="btn-group" role="group"
								aria-label="Basic checkbox toggle button group">

								<th:block th:each="familyGroup,index : ${familyGroups}">
									<input type="radio" name="familyGroup"
										th:value="${familyGroup.id}" class="btn-check"
										th:id="${'familyGroup'+index}" autocomplete="off">
									<label class="btn btn-outline-primary"
										th:for="${'familyGroup'+index}" th:text="${familyGroup.name}">NA</label>
								</th:block>

								<input type="radio" name="familyGroup" value="0"
									class="btn-check" id="familyGroupNone" autocomplete="off"
									checked> <label class="btn btn-outline-primary"
									for="familyGroupNone">None</label>


							</div>
						</div>
						<div class="form-container">

							<h5>Choose Parking Vehicle Type</h5>

							<th:block th:each="parkingDetail ,index : ${parkingDetails}">
								<h6 class="m-0 mb-1" th:text="${parkingDetail.name}"></h6>
								<div class="d-flex align-items-center mb-2 counter">
									<button class="btn btn-outline-danger minus count"
										type="button">
										<i class="fa-solid fa-angles-down"></i>
									</button>
									<input class="input-count" th:name="${parkingDetail.idDsec}"
										value="0" type="number">
									<button class="btn btn-outline-success plus count"
										type="button">
										<i class="fa-solid fa-angles-up"></i>
									</button>
								</div>
							</th:block>

						</div>
						<div class="d-none form-container d-flex justify-content-center">
							<button class="btn btn-success p-3">Calculate Bill</button>
						</div>
					</div>
				</div>
				<div class="col-4 bill-container-parent">
					<div class="box right-box  ">
						<div class="bill-container  ">
							<table class="table table-striped border" id="billSummary">
								<thead class="bg-gray sticky-thead">
									<tr>
										<th scope="col" colspan="3">
											<h5 class="m-0 ">bill summary</h5>
										</th>
									</tr>
									<tr>
										<th scope="col">Description & Group</th>
										<th scope="col">Price</th>
										<th scope="col">Total</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
							<hr>
							<div class="d-flex justify-content-between">
								<h4 class="font-weight-bold">Grand Total</h4>
								<h6></h6>
								<h1>
									<span class="float-right righteous-regular"
										style="font-size: 45px;" id="grandTotal">00</span><i
										class="ms-1 fa-solid fa-indian-rupee-sign"></i>
								</h1>
							</div>
							<div class="d-flex justify-content-center mb-5">							  
							    <button class="btn btn-success p-3" id="CALCULATE">Calculate Bill</button>
								<button class="btn btn-primary p-3 mx-2" id="PRINT">Print Ticket</button>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript" th:src="@{/js/counter.js}"></script>
</body>
</html>