<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Rate Revisions</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c634b3cef4.js"
	crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.0/js/dataTables.min.js"
	type="text/javascript"></script>
<script
	src="https://cdn.datatables.net/2.1.0/js/dataTables.bootstrap5.js"
	type="text/javascript"></script>
<link
	href="https://cdn.datatables.net/2.1.0/css/dataTables.bootstrap5.css"
	rel="stylesheet">
<!-- <script type="text/javascript" th:src="@{/js/billSummary.js}"></script> -->

<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
	integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
	crossorigin="anonymous"></script>

<link th:href="@{/css/standard.css}" rel="stylesheet" />

<style type="text/css">
#billSummary {
	width: 100%;
	max-height: 62vh;
	display: block;
	overflow-y: auto;
}

td small {
	font-size: 10px
}

.mw-250 {
	max-width: 250px;
}
</style>
<script type="text/javascript">
		</script>
</head>
<body>
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 mt-3">
				<h2>Rate Revision Logs</h2>
				<table class="table table-striped border w-100" id="tickets">
					<thead class="bg-gray">
						<tr>
							<th scope="col">Revision No</th>
							<th scope="col">Ticket</th>
							<th scope="col">Group</th>
							<th scope="col">Parking</th>
							<th scope="col">Old
								<i class="fa-solid text-secondary fa-arrow-right-long mx-2"></i>
								New Price
							</th>
							<th scope="col">Status</th>
							<th scope="col">Revised At</th>
							<th scope="col">Revised By</th>
						</tr>
					</thead>
					<tbody>
						<!-- //Interim check report -->
						<tr th:each="rate : ${rates}">
							<td scope="col" th:text="${rate.revisionNo}"></td>
							<td scope="col" th:text="${rate.ticketType}"></td>
							<td scope="col" th:text="${rate.visitorsType}"></td>
							<td scope="col" th:text="${rate.parkingDetails}"></td>
							<td scope="col">
								<span th:text="${rate.oldPrice}"></span>
								<i class="fa-solid text-secondary fa-arrow-right-long mx-2"></i>
								<span th:text="${rate.price}"></span>
								<i class="fa-solid"
									th:classappend="${rate.isPriceIncreased?'fa-arrow-up-long text-success':'fa-arrow-down-long text-danger'}"></i>
							</td>

							<td scope="col">
								<span class="badge"
									th:classappend="${rate.isActive?'bg-success':'bg-danger'}"
									th:text="${rate.isActive?'Active':'InActive'}"></span>
							</td>
							<td scope="col" th:text="${rate.revisedAt}"></td>
							<td scope="col" th:text="${rate.user}"></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
			$(document).ready(function() {
				var tableConfig = {
					info : true,
					ordering : true,
					paging : true,
					searching : true,
					responsive : true,
					destroy : true,
					aaSorting: []
				};
				new DataTable('#tickets',tableConfig);
			});
		</script>
</body>
</html>
